.container{
    background-color: #007bff;
    max-width: 600px;
    margin: auto;
    padding: 1em;
    background: #26A69A;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}