.spacer {
    flex: 1 1 auto;
}

.search-bar {
    flex: 2;
    display: flex;
    justify-content: center;
}

mat-form-field {
    width:100%;
    max-width: 300px;
}

.mobile-search {
    width: 100%;
}

@media (max-width: 600px) {
    .search-bar{
        display: none;
    }
}