<div class="container text-center">
  <div class="row row-cols-2 g-3 gx-1 justify-content-around">
    <div class="col-12 col-md-6 col-lg-4">
      <figure>
        <img class="img"  src="../../../assets/images/meetup.1.jpg">
        <figcaption>Cincinnati MeetUp</figcaption>
      </figure>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card text-center">
        <div class="card-header">
          Cincinnati MeetUp
        </div>
        <div class="card-body">
          <h5 class="card-title">Where Innovation Meets Passion</h5>
          <p class="card-text">We are a group of Tech enthusiast that meet every other Wednesday from 5pm to 7pm</p>
          <a href="#" class="btn btn-primary">Come Hang With Us</a>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-6">
      <div class="card">
        <h1>Our Mission</h1>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <h1>Our Vision</h1>
      </div>
    </div>
  </div>  -->
</div>

